<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codinginflow.mvvmtodo">

      <!--
      android:name=".ToDoApplication"
      Our Custom Subclass of android.app.Application "The Application class, or your subclass
      of the Application class, is instantiated before any other class when the
      process for your application/package is created.

      in tasks_fragment.xml

      tools:context="com.codinginflow.mvvmtodo.ui.tasks.TaskFragment"
      tells android navgraph, where to find the ui for the fragment class


      -->
    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVMTodo">
        <activity android:name="com.codinginflow.mvvmtodo.ui.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <!--Resizes the view when keyboard opens.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>